.container {
  width: 100%;
}

.frontend {
  width: 100%;
  display: grid;
  grid-template-areas:
    ". htmlTitle htmlItems"
    "cssItemsLeft cssTitle cssItemsRight"
    ". javascriptTitle javascriptItems"
    "securityItemsLeft securityTitle securityItemsRight";
}

.htmlTitle,
.cssTitle,
.javascriptTitle,
.securityTitle {
  align-self: center;
  justify-self: center;
  width: min-content;
}

.htmlItems,
.cssItemsLeft,
.cssItemsRight,
.javascriptItems,
.securityItemsLeft,
.securityItemsRight {
  display: flex;
  flex-direction: column;
}

.cssItemsLeft,
.securityItemsLeft {
  justify-self: flex-end;
  display: flex;
  align-items: flex-end;
}

.htmlTitle {
  grid-area: htmlTitle;
}

.htmlItems {
  grid-area: htmlItems;
}

.cssTitle {
  grid-area: cssTitle;
}

.cssItemsLeft {
  grid-area: cssItemsLeft;
}

.cssItemsRight {
  grid-area: cssItemsRight;
}

.javascriptTitle {
  grid-area: javascriptTitle;
}

.javascriptItems {
  grid-area: javascriptItems;
}

.securityTitle {
  grid-area: securityTitle;
}

.securityItemsLeft {
  grid-area: securityItemsLeft;
}

.securityItemsRight {
  grid-area: securityItemsRight;
}

.frontend h2 {
  font-size: 2em;
}

.frontend ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.frontend h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 35px;
  width: min(10em, 20em);
}

.frontend ul li {
  margin: 5px;
  padding: 10px;
  width: min-content;
  white-space: nowrap;
  border-radius: 25px;
}

.frontend h3,
.frontend ul li {
  border: 2px solid var(--theme-primary);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
