@use '@styles/palette.scss' as palette;
@use '@styles/variables.scss' as vars;

// Snackbar theming
.snackbar-success {
  background: #388e3c !important;
  color: vars.$foreground !important;
}
.snackbar-failure {
  background: #d32f2f !important;
  color: vars.$foreground !important;
}

div {
  padding: 2rem;
  background-color: palette.$accent-700;
  color: vars.$foreground;
  border-radius: 16px;
  max-width: vars.$desktop-max-width;
  margin: 2rem auto;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);

  opacity: 0;
  transition: opacity 1.5s ease;

  &.in-view {
    opacity: 1;
  }

  h2 {
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    label {
      margin-bottom: 0.5rem;
      font-weight: 500;
    }

    button[type='submit'] {
      border-radius: 8px;
      color: #fff;
      padding: 0.75rem 2rem;
      font-size: 1rem;
      border: none;
      cursor: pointer;
      transition: background 0.3s ease;
      background: palette.$primary-500;

      &:disabled {
        background: palette.$accent-500;
        cursor: not-allowed;
      }
    }
  }
}
