<section>
  <div #cube class="cube">
    <div class="face front">
      <app-shop-card [data]="cards['front']"></app-shop-card>
    </div>
    <div class="face back">
      <app-shop-card [data]="cards['back']"></app-shop-card>
    </div>
    <div class="face left">
      <app-shop-card [data]="cards['left']"></app-shop-card>
    </div>
    <div class="face right">
      <app-shop-card [data]="cards['right']"></app-shop-card>
    </div>
    <div class="face top">
      <app-shop-card [data]="cards['top']"></app-shop-card>
    </div>
    <div class="face bottom">
      <app-shop-card [data]="cards['bottom']"></app-shop-card>
    </div>
  </div>
</section>
