h1,
h2,
span {
  font-family: monospace !important;
  white-space: nowrap;
}

h1 {
  color: white !important;
}

span {
  padding-right: 5px;
  border-right: 2px solid transparent;
  animation: blink-border 0.7s infinite;
}

@keyframes blink-border {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: unset;
  }
  100% {
    border-color: transparent;
  }
}
