.pitch {
  display: flex;
  position: relative;
  justify-content: center;
}

.qualifications {
  position: absolute;
  left: 0;
  width: 280px;
  align-self: flex-end;
}

.qualifications p {
  font-weight: bold;
}

.qualifications .logos {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.qualifications .logos .image {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qualifications .logos .image img {
  width: 70%;
  object-fit: cover;
  border-radius: 30%;
}

.zigzag {
  width: 400px;
  align-self: center;
}

.elevator {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-start;
}

.elevator * {
  margin: 5px;
}

.elevator p {
  width: 160px;
  background: white;
  padding: 20px;
  border-radius: 25px 25px 10px;
  font-size: 1em;
  font-weight: light;
}

.elevator .bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}

.elevator .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--theme-primary);
}
