.history {
  width: 280px;
}

.history h3 {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}

.history .logos {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.history .logos .image {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history .logos .image img {
  width: 70%;
  object-fit: cover;
  border-radius: 30%;
}

@media only screen and (max-width: 1000px) {
  .history {
    width: 100%;
  }

  .history h3 {
    margin: 1em;
  }

  .history .logos {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 450px) {
  .history {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 220px;
  }

  .history h3 {
    font-size: 1.25em;
    text-align: left;
  }

  .history .logos {
    justify-content: space-around;
  }

  .history .logos .image {
    margin: 20px 0;
  }
}
