header {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.mobile-menu {
  background-color: transparent;
  border: none;
  width: 60px;
  height: auto;
}

button.mobile-menu > * {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  header {
    position: sticky;
    flex-direction: column;
    padding: 5px 15px;
    background-color: var(--theme-primary);
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.4);
  }

  .mobile-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  button.mobile-menu {
    color: white;
  }
}
