@use '@styles/palette.scss' as palette;
@use '@styles/variables.scss' as vars;

$pfpWrapperWidth: clamp(8rem, 30vw, 16rem);

:host {
  height: 100%;
  width: 100%;
}

div.hero {
  grid-area: header;
  position: relative;
  display: grid;
  grid-template-columns: $pfpWrapperWidth 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 2rem;
  grid-template-areas:
    'img h1'
    'img code'
    'p p';

  @media only screen and (max-width: vars.$bp-mobile) {
    grid-template-columns: $pfpWrapperWidth 1fr;
    grid-template-rows: repeat(3, min-content);
    gap: 2rem;
    grid-template-areas:
      'img h1'
      'code code'
      'p p';
  }

  .circle {
    position: absolute;
    top: 16px; // this will scale with the width/height
    left: 0;
    right: 8px;
    width: calc($pfpWrapperWidth - 26px);
    height: calc($pfpWrapperWidth - 26px);
    border-radius: 50%;
    border: 8px solid palette.$primary-500;

    &.top {
      z-index: -1;
      clip-path: inset(0 0 50% 0);
    }

    &.bottom {
      z-index: 1;
      clip-path: inset(50% 0 0 0);
    }

    opacity: 0;
    transition: opacity 0.8s ease;

    &.in-view {
      opacity: 1;
    }
  }

  div.pfp {
    grid-area: img;
    align-self: center;
    justify-self: center;
    display: flex;
    width: $pfpWrapperWidth;
    overflow: hidden;
    box-sizing: border-box;
    aspect-ratio: 1;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.4s ease;

    &.in-view {
      opacity: 1;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  h1 {
    grid-area: h1;
    align-self: end;
    justify-self: start;
    opacity: 0;
    transition: opacity 0.8s ease;

    &.in-view {
      opacity: 1;
    }

    @media only screen and (max-width: vars.$bp-mobile) {
      align-self: center;
      margin-top: 2rem;
    }
  }

  pre {
    grid-area: code;
    align-self: start;
    justify-self: start;
    height: 5.5em;
    margin: 0;
    background-color: palette.$accent-700;
    width: 100%;
    border-radius: 16px;
    padding: 1rem;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.8s ease 0.6s;

    &.in-view {
      opacity: 1;
    }

    code {
      span {
        &.primary-500 {
          color: palette.$primary-500;
        }

        &.tertiary-500 {
          color: palette.$tertiary-500;
        }

        &.accent-500 {
          color: palette.$accent-500;
        }

        &.purple {
          color: rgb(165, 90, 179);
        }

        &.orange {
          color: rgb(191, 148, 74);
        }

        &.blink {
          border-right: 1px solid vars.$foreground;
          animation: blink-animation 1s steps(5, start) infinite;
          -webkit-animation: blink-animation 1s steps(5, start) infinite;
        }
      }

      @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
    }
  }

  div.summary {
    width: 100%;
    grid-area: p;
    align-self: start;
    justify-self: start;
    margin: 0;

    hr {
      height: 1px;
      color: #fff;
      width: 100%;
      opacity: 0;
      transition: opacity 0.8s ease 1.2s;

      &.in-view {
        opacity: 1;
      }
    }

    p {
      // border-top: 2px solid vars.$foreground;
      box-sizing: border-box;
      padding-top: 1rem;
      font-weight: 300;
      opacity: 0;
      transition: opacity 0.8s ease 1.8s;

      &.in-view {
        opacity: 1;
      }

      span {
        // font-size: clamp(1.2rem, 1.4vw, 1.4rem);
        font-weight: 700;
        color: palette.$primary-500;
      }
    }
  }
}
