<div class="hero">
  <div class="circle top"></div>
  <div class="pfp">
    <img src="images/pfp_alpha.png" />
  </div>
  <div class="circle bottom"></div>
  <h1 id="top">Hi, my name is {{ name }}.</h1>
  <pre><code><span class="accent-500">1</span>  <span class="purple"><b>const</b></span> <i>skill</i> <span class="tertiary-500">=</span> <span class="orange">&#123;</span>
<span class="accent-500">2</span>    label<span class="tertiary-500">:</span> <span class="tertiary-500">'<span>{{ subtitle$ | async }}</span></span><span class="blink" aria-hidden></span><span class="tertiary-500">'</span>
<span class="accent-500">3</span>  <span class="orange">&#125;</span><span class="accent-500">;</span></code>
</pre>
  <p class="summary">
    I'm a software engineering lead with <span>{{ yearsExp }} years</span> industry experience
    building innovative web apps. I strive to create accessible and
    <span>secure user experiences</span> with a craftsman's attention to detail. I'm committed to
    quality and pair it with a solution-oriented approach where
    <span>no technology is off-limits</span>.
  </p>
</div>
