<div class="hero">
  <div class="pfp">
    <img src="images/pfp_alpha.png" />
  </div>
  <h1 id="top">
    Hi, my name is<br />
    <span class="name">{{ name }}</span
    >.
  </h1>
  <h2>
    I am a<span>{{ subtitle$ | async }}</span>
  </h2>
  <p>
    Software engineering lead with
    <span>{{ yearsExp }} years</span> industry experience building innovative <span>web apps</span>.
    Craftsman of <span>accessible</span> and <span>secure</span> user experiences.
    <span>Committed to quality</span> with a <span>solution-oriented</span> approach where
    <span>no technology is off-limits</span>.
  </p>
</div>
