<div class="hero">
  <div class="circle top"></div>
  <div class="pfp">
    <img src="images/pfp_alpha.png" />
  </div>
  <div class="circle bottom"></div>
  <h1 id="top">Hi, I'm {{ name }}.</h1>
  <pre><code><span class="purple"><b>const</b></span> <i>skill</i> <span class="tertiary-500">=</span> <span class="orange">&#123;</span>
  name<span class="tertiary-500">:</span> <span class="tertiary-500">'<span>{{ subtitle$ | async }}</span></span><span class="blink" aria-hidden></span><span class="tertiary-500">'</span>
<span class="orange">&#125;</span><span class="tertiary-700">;</span></code>
</pre>
  <p class="summary">
    I'm a software engineering lead with
    <span>{{ yearsExp }} years</span> industry experience building innovative web apps. Think of me
    as a craftsman of <span>accessible and secure user experiences</span>. I'm
    <span>committed to quality</span> and pair it with a <span>solution-oriented</span> approach
    where <span>no technology is off-limits</span>.
  </p>
</div>
