.heading {
  font-size: 1.1em;
}

.logos {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.image img {
  width: 70%;
  object-fit: cover;
  border-radius: 30%;
}

@media only screen and (max-width: 1000px) {
  .heading {
    margin: 1em;
  }

  .logos {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 450px) {
  .heading {
    font-size: 1.25em;
    text-align: left;
  }

  .logos {
    justify-content: space-around;
  }

  .image {
    margin: 20px 0;
  }
}
