<section>
  <h2 id="experience" appFadeInOnScroll>Professional Experience</h2>
  <ul class="pro-exp">
    @for (project of proExperience; track $index; let i = $index) {
      <li>
        <div class="wrapper" [class.left]="i % 2 > 0" [class.right]="i % 2 == 0" appFadeInOnScroll>
          @if (i % 2 == 0) {
            <div class="thumb desktop">
              <img [src]="project?.thumbnail" [alt]="project?.title" />
            </div>
          }
          <div class="thumb mobile">
            <img [src]="project?.thumbnail" [alt]="project?.title" />
          </div>
          <div class="meta">
            <div class="title">
              <h3>{{ project?.title }}</h3>
              @for (titleLink of project?.titleLinks; track $index) {
                <a [href]="titleLink.href" target="_blank">
                  <mat-icon iconPositionEnd [svgIcon]="titleLink.svgIcon ?? ''">
                    {{ titleLink.matIcon ?? '' }}
                  </mat-icon>
                </a>
              }
            </div>
            <p>{{ project?.company }} • {{ project?.yoe }}</p>
            <p>{{ project?.summary }}</p>
            <p class="body">{{ project?.body }}</p>
          </div>
          @if (i % 2 > 0) {
            <div class="thumb desktop">
              <img [src]="project?.thumbnail" [alt]="project?.title" />
            </div>
          }
        </div>
      </li>
    }
  </ul>
</section>
