<h1 appFadeInOnScroll>Apps</h1>
<ul class="apps">
  @for (p of projects; track $index; let i = $index) {
    <li>
      <mat-card appFadeInOnScroll>
        <header>
          <h2>{{ p.title }}</h2>
          <div>
            @for (titleLink of p.titleLinks; track $index) {
              <a [href]="titleLink.href" target="_blank">
                <mat-icon iconPositionEnd [svgIcon]="titleLink.svgIcon ?? ''">
                  {{ titleLink.matIcon ?? '' }}
                </mat-icon>
              </a>
            }
          </div>
        </header>
        @if (p.thumbnail) {
          <div class="thumb" (click)="openThumbnail(p.thumbnail)">
            <img [src]="p.thumbnail" />
          </div>
        }
        <mat-card-content>
          <p>{{ p.summary }}</p>
          @if (mobile) {
            <div class="body" [innerHTML]="p.body_mobile"></div>
          } @else {
            <div class="body" [innerHTML]="p.body"></div>
          }
        </mat-card-content>
      </mat-card>
    </li>
  }
</ul>
