@use '@styles/palette.scss' as palette;
@use '@styles/typography.scss' as typography;
@use '@styles/variables.scss' as vars;

$projects-padding: 2rem;

:host {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  margin: 0 auto;

  h2 {
    opacity: 0;
    transition: opacity 2s ease;
    padding: 0 0 $projects-padding;

    // On tablet and below, use smaller translateX for fade-in so animation is visible
    @media only screen and (max-width: vars.$bp-tablet) {
      padding: 0 0 calc($projects-padding / 2);
    }

    &.in-view {
      opacity: 1;
    }
  }

  ul {
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0 0 $projects-padding;

    &.pro-exp {
      flex-direction: column;
      gap: $projects-padding;

      @media only screen and (max-width: vars.$bp-tablet) {
        gap: 0;
      }
    }

    &.tools {
      flex-direction: row;
      gap: 2rem;
      padding-top: 1rem;

      @media only screen and (max-width: vars.$bp-tablet) {
        padding-top: 1rem;
        flex-direction: column;
      }
    }

    li {
      position: relative;
      overflow: hidden;
      box-sizing: border-box;

      div.wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: clamp(2rem, 2.25vw, 2.25rem);
        margin: 2rem;

        @media only screen and (max-width: vars.$bp-tablet) {
          padding: 1rem 0;
          margin: 1rem;
        }

        position: relative;

        &.left {
          transform: translateX(calc(-1 * vars.$desktop-wrapper-width));
        }

        &.right {
          transform: translateX(vars.$desktop-wrapper-width);
        }

        // On tablet and below, use smaller translateX for fade-in so animation is visible
        @media only screen and (max-width: vars.$bp-tablet) {
          &.left {
            transform: translateX(-40vw);
          }
          &.right {
            transform: translateX(40vw);
          }
        }

        // initially out of view
        // but don't apply this transition until after .left and .right have applied the initial position.
        opacity: 0;
        transition:
          transform 0.8s ease,
          opacity 1.5s ease;

        // On tablet and below, use smaller translateX for fade-in so animation is visible
        @media only screen and (max-width: vars.$bp-tablet) {
          transition:
            transform 0.8s ease,
            opacity 0.8s ease;
        }

        &.in-view {
          transform: translateX(0);
          opacity: 1;
        }

        @media only screen and (max-width: vars.$bp-tablet) {
          grid-template-columns: 1fr;
          gap: clamp(1rem, 5vw, 7rem);
        }

        div.thumb {
          width: clamp(350px, 40vw, 512px);
          aspect-ratio: 16 / 9;
          border-radius: 25px;
          box-shadow: 0 0 1rem rgba(255, 255, 255, 0.4); // rgba(2, 6, 23, 0.6);
          box-sizing: border-box;

          &.desktop {
            display: block;
          }

          &.mobile {
            display: none;
          }

          @media only screen and (max-width: vars.$bp-tablet) {
            width: 100%;

            &.desktop {
              display: none;
            }

            &.mobile {
              display: block;
            }
          }

          img {
            display: block;
            border-radius: 25px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        div.meta {
          div.title {
            display: flex;
            align-items: end;
            gap: 1rem;

            a:hover {
              color: palette.$primary-500;
            }
          }

          p.body {
            @include typography.body-small();
          }
        }
      }

      mat-card {
        background-color: palette.$accent-700;
        padding: 1rem;
        border-radius: 25px;
        height: 100%;

        opacity: 0;
        transition: opacity 0.8s ease;
        &.in-view {
          opacity: 1;
        }

        header {
          display: flex;
          justify-content: space-between;

          div {
            display: flex;
            gap: 8px;

            @media only screen and (max-width: vars.$bp-tablet) {
              gap: 1rem;
            }
          }
        }

        p.body {
          @include typography.body-small();
        }
      }
    }
  }
}
