@use '@styles/variables.scss' as vars;

section {
  max-width: vars.$wrapper-width;
  margin: 0 auto;
  padding: 2vw 1vw;

  ul {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    list-style-type: none;
    margin: 0;
    padding: 0;

    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: clamp(1rem, 1.25vw, 1.25rem);

      div.thumb {
        width: 512px;
        height: 300px;
        border-radius: 25px;
        box-shadow: 0 8px 24px rgba(2, 6, 23, 0.6);

        img {
          border-radius: 25px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
