<section>
  <ul>
    @for (project of projects; track $index; let i = $index) {
      <li>
        <div
          class="wrapper"
          [class.left]="i % 2 > 0"
          [class.right]="i % 2 == 0"
          appScrollIntoViewTrigger
        >
          <div class="thumb">
            <img [src]="project?.thumbnail" alt="{{ project?.title }}" />
          </div>
          <div class="meta">
            <h3>{{ project?.title }}</h3>
            <p>{{ project?.company }} • {{ project?.yoe }}</p>
            <p>{{ project?.summary }}</p>
            <p>{{ project?.body }}</p>
          </div>
        </div>
      </li>
    }
  </ul>
</section>
