<div class="title">
  <div class="text">
    <div class="h1">
      <h1
        [ngClass]="{
          'mat-title-large': (isDesktop$ | async) == false,
          'mat-display-medium': (isDesktop$ | async) == true,
        }"
      >
        Hi, my name is{{ ' ' }}
        @if ((isDesktop$ | async) == false) {
          <br />
        }
        <span
          class="name"
          [ngClass]="{
            'mat-display-small': (isDesktop$ | async) == false,
            'mat-display-medium': (isDesktop$ | async) == true,
          }"
          >John Schellinger</span
        >.
      </h1>
    </div>
    <div class="h2">
      <h2
        [ngClass]="{
          'mat-title-medium': (isDesktop$ | async) == false,
          'mat-display-small': (isDesktop$ | async) == true,
        }"
      >
        I am a <span>{{ subtitle$ | async }}</span
        >.
      </h2>
    </div>
  </div>
  <mat-card class="mat-elevation-z4">
    <mat-card-content>
      <p
        [ngClass]="{
          'mat-body-medium': (isDesktop$ | async) == false,
          'mat-body-large': (isDesktop$ | async) == true,
        }"
      >
        Software engineering lead with
        <span>{{ yearsExp }} years</span> industry experience building innovative <span>web apps</span>, serving
        seamless <span>integrations</span>, and expanding complex systems for
        <span>security, efficiency, and reliability</span>.
      </p>
      <p
        [ngClass]="{
          'mat-body-large': (isDesktop$ | async) == true,
          'mat-body-medium': (isDesktop$ | async) == false,
        }"
      >
        Craftsman of <span>accessible</span> user experiences supported by robust, <span>scalable</span> back-end
        systems.
      </p>
      <p
        [ngClass]="{
          'mat-body-large': (isDesktop$ | async) == true,
          'mat-body-medium': (isDesktop$ | async) == false,
        }"
      >
        <span>Committed to quality</span> with a <span>solution-oriented</span> approach where no technology is
        off-limits.
      </p>
    </mat-card-content>
  </mat-card>
</div>
