<nav>
  <div class="home">
    <a mat-fab extended routerLink="/offerings">
      <mat-icon>store_front</mat-icon>
      Offerings
    </a>
    <a mat-fab extended routerLink="/portfolio">
      <mat-icon>public</mat-icon>
      Portfolio
    </a>
    <a mat-fab extended routerLink="/ask-a-question">
      <mat-icon>message</mat-icon>
      Ask a Question
    </a>
  </div>
  <div class="other-page">
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/offerings">Offerings</a>
    <a mat-button routerLink="/portfolio">Portfolio</a>
    <a mat-button routerLink="/ask-a-question">Ask a Question</a>
  </div>
</nav>
