:host {
  width: 100%;
  height: 100%;
}

nav {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

:host div.home {
  position: absolute;
  top: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8 ease-in-out;
  display: flex;

  a {
    white-space: nowrap;
    margin: 0 0.5rem;
  }
}

:host.home div.home {
  max-height: 8rem;
}

div.other-page {
  position: absolute;
  display: flex;
  margin-top: 0.5rem;
  top: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8 ease-in-out;

  a {
    white-space: nowrap;
  }

  a:not(:first-child) {
    margin-left: 2rem;
  }
}
