:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: margin 0.5s ease-in-out;
}

:host.home {
  margin: 13rem 0 5rem;
}

:host:not(.home) {
  margin: 0rem 0 5rem;
}

:host header {
  width: 50rem;
  display: flex;
}

:host.home header {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

:host:not(.home) header {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
}

:host div.toolbar-bg {
  position: absolute;
  z-index: -1;
  background-color: black;
  top: 0;
  right: 0;
  left: 0;
  min-height: 0;
  transition: min-height 0.5s ease-in-out;
}

:host.home div.toolbar-bg {
  min-height: 19.5rem;
}

:host:not(.home) div.toolbar-bg {
  min-height: 4rem;
}
