<mat-tab-group dynamicHeight>
  <mat-tab label="kdot-lyrics">
    <p>
      Random Kendrick Lamar lyrics at the click of a button. The web app is written with Angular. An offline program
      written with Golang seeds AWS DynamoDB with lyrics. It does this by invoking an API for song information, then
      utilizing a scraper to gather lyrics before persisting to the table.
    </p>
    <div class="thumbnail">
      <img src="/images/kdot-lyrics.png" />
    </div>
    <div class="links">
      <a mat-button class="mat-title-medium" href="https://kdotlyrics.com">
        Visit<mat-icon iconPositionEnd>open_in_new</mat-icon>
      </a>
      <a mat-button class="mat-title-medium" href="https://github.com/jseashell/kdot-lyrics">
        Github<mat-icon iconPositionEnd>open_in_new</mat-icon>
      </a>
    </div>
  </mat-tab>
  <mat-tab label="ezmc-cli">
    <p>A server management CLI for self-hosting Minecraft Java Edition in AWS Elastic Container Service.</p>
    <div class="thumbnail">
      <img src="/images/ezmc.png" />
    </div>
    <div class="links">
      <a mat-button class="mat-title-medium" href="https://github.com/jseashell/ezmc-cli">
        Github<mat-icon iconPositionEnd>open_in_new</mat-icon>
      </a>
    </div>
  </mat-tab>
  <mat-tab label="apm-pulse">
    <p>
      Game-style APM counter in your VS Code status bar. This project is VS Code extension that does a little bit of
      light processing to track your actions per minute while coding. It features command palette and settings
      integrations.
    </p>
    <div class="thumbnail">
      <img class="apm-pulse" src="/images/apm-pulse.gif" />
    </div>
    <div class="links">
      <a
        mat-button
        class="mat-title-medium"
        href="https://marketplace.visualstudio.com/items?itemName=jseashell.apm-pulse"
      >
        Visit<mat-icon iconPositionEnd>open_in_new</mat-icon>
      </a>
      <a mat-button class="mat-title-medium" href="https://github.com/jseashell/apm-pulse">
        Github<mat-icon iconPositionEnd>open_in_new</mat-icon>
      </a>
    </div>
  </mat-tab>
</mat-tab-group>
