<mat-tab-group
  dynamicHeight
  [selectedIndex]="selected"
  (swipeleft)="swipe($event.type)"
  (swiperight)="swipe($event.type)"
>
  @for (project of service.projects$ | async; track project.label) {
    <mat-tab [label]="project.label">
      <p>
        {{ project.excerpt }}
      </p>
      <div class="thumbnail">
        <img [src]="project.thumbnail" [alt]="project.alt" class="mat-elevation-z2" />
      </div>
      <ul class="links">
        @for (button of project.buttons; track button.href) {
          <li>
            <a mat-raised-button class="mat-title-medium" [href]="button.href" target="_blank">
              {{ button.cta
              }}<mat-icon iconPositionEnd [svgIcon]="button.svgIcon ?? ''">{{ button.matIcon ?? '' }}</mat-icon>
            </a>
          </li>
        }
      </ul>
    </mat-tab>
  }
</mat-tab-group>
