<mat-card>
  <mat-card-content>
    <form [formGroup]="questionForm" (ngSubmit)="submit()">
      <mat-form-field>
        <mat-label>Subject</mat-label>
        <input matInput type="text" formControlName="subject" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ask a Question...</mat-label>
        <input
          matInput
          type="textarea"
          formControlName="body"
          placeholder="Ex. Hi, when are you available for a free consultation?"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button type="submit" [disabled]="!questionForm.valid">Submit</button>
  </mat-card-actions>
</mat-card>
