:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  width: 90rem;
}

section.hero {
  position: relative;
}

@media only screen and (max-width: 1020px) and (min-width: 768px) {
  main {
    width: 900;
  }
  
  section.hero {
    padding-top: 2rem;
  }
  
  section.hero div.hero-bg {
    position: absolute;
    padding-top: 2rem;
    background-color: black;
    height: 28rem;
    top:0;
    right: 0;
    left: 0;
  }
}

@media only screen and (max-width: 768px) and (min-width: 391px) {
  main {
    width: 700; 
  }
  
  section {
    padding: 0 2rem;
  
  }
  section.hero {
    padding-top: 2rem;
  }
  
  section.hero div.hero-bg {
    z-index:-1;
    position: absolute;
    padding-top: 2rem;
    background-color: black;
    height: 25rem;
    top:0;
    right: 0;
    left: 0;
  }
}

main section {
  margin-bottom: 5rem;
}
