:host {
  width: 100%;
  height: 100%;
  background-color: var(--app-background);
}

main {
  width: 100%;
  margin: 0 auto;
}

main:not(.home) {
  transform: translateY(-16.5rem);
}

mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: flex-end;
  z-index: 50;
  background-color: var(--app-foreground);
}

mat-toolbar mat-icon {
  color: var(--app-background);
}

a:hover {
  cursor: pointer;
}
