@use '@styles/typography.scss' as typography;
@use '@styles/variables.scss' as vars;

main {
  max-width: vars.$wrapper-width;
  margin: 0 auto;
  padding: 0 36px;
  box-sizing: border-box;
}

footer {
  width: 100%;

  div {
    max-width: vars.$wrapper-width;
    margin: 0 auto;
    border-top: 2px solid vars.$foreground;
    box-sizing: border-box;
    padding: 2rem;

    display: flex;
    // justify-content: space-between;
    justify-content: space-around;
    align-items: start;

    section {
      // max-width: 50%;

      // &.legal {
      //   p {
      //     margin: 0;
      //     padding-bottom: 1rem;
      //   }

      //   p,
      //   a {
      //     @include typography.body-smaller();
      //   }
      // }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        &.as-line {
          display: flex;
          gap: 1rem;
        }

        li {
          padding: 4px 0;

          a {
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }
      }
    }
  }
}
