:host {
  width: 100%;
  height: 100%;
  background-color: var(--app-background);
}

main {
  width: 100%;
  margin: 0 auto;
}

mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  z-index: 50;
  background-color: var(--app-foreground);
}

mat-toolbar div {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: flex-end;
}

mat-toolbar mat-icon {
  color: var(--app-background);
}

footer {
  width: 100%;
  height: 18rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--app-foreground);
  color: var(--app-background);
}

footer div {
  width: 100%;
  max-width: 900px;
  display: flex;
}

footer section {
  display: flex;
  flex-direction: column;
  width: 50%;
}

footer ul {
  list-style-type: none;
}

footer a,
footer a:active,
footer a:visited {
  color: var(--app-background);
}

footer .contact {
  font-weight: 700;
}

footer .copyright {
  padding-top: 2rem;
}
