:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

app-hero {
  width: 100%;
  background-color: var(--app-foreground);
}

main {
  width: 100%;
}

mat-toolbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
