:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  background-color: #1d1a31;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-hero {
  width: 100%;
  background-color: #1d1a31;
}

main {
  width: 90rem;
}

main.mobile {
  width: 90%;
}
