<h1 appFadeInOnScroll>My Apps</h1>
<ul class="apps">
  @for (app of apps; track $index; let i = $index) {
    <li>
      <mat-card appFadeInOnScroll>
        <header mat-card-title>
          <h2>{{ app.title }}</h2>
          <div>
            @for (titleLink of app.titleLinks; track $index) {
              <a [href]="titleLink.href" target="_blank">
                <mat-icon iconPositionEnd [svgIcon]="titleLink.svgIcon ?? ''">
                  {{ titleLink.matIcon ?? '' }}
                </mat-icon>
              </a>
            }
          </div>
        </header>
        @if (app.thumbnail) {
          <div class="thumb" (click)="openThumbnail(app.thumbnail)">
            <img [src]="app.thumbnail" />
          </div>
        }
        <mat-card-content>
          <p>{{ app.summary }}</p>
          @if (mobile) {
            <div class="body" [innerHTML]="app.body_mobile"></div>
          } @else {
            <div class="body" [innerHTML]="app.body"></div>
          }
        </mat-card-content>
      </mat-card>
    </li>
  }
</ul>
