<h1 appFadeInOnScroll>My GitHub</h1>
<ul class="apps">
  @for (app of apps; track $index; let i = $index) {
    <li>
      <mat-card appFadeInOnScroll>
        <header mat-card-title>
          <h4>{{ app?.title }}</h4>
          <div>
            @for (titleLink of app?.titleLinks; track $index) {
              <a [href]="titleLink.href" target="_blank">
                <mat-icon iconPositionEnd [svgIcon]="titleLink.svgIcon ?? ''">
                  {{ titleLink.matIcon ?? '' }}
                </mat-icon>
              </a>
            }
          </div>
        </header>
        <mat-card-content>
          <p>{{ app?.summary }}</p>
          <p class="body">{{ app?.body }}</p>
        </mat-card-content>
      </mat-card>
    </li>
  }
</ul>
