<h2 mat-dialog-title>How can I help you?</h2>
<mat-dialog-content>
  <p>Ask a question, leave a suggestion, or reach out to connect.</p>
  <form [formGroup]="questionForm" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Subject</mat-label>
      <input matInput type="text" formControlName="subject" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ask a Question...</mat-label>
      <textarea matInput formControlName="body" placeholder="Ex. Hi, I have an opportunity with..."></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close type="submit" [disabled]="!questionForm.valid">Submit</button>
</mat-dialog-actions>
