:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--app-background);
  padding: 5rem 0;
  box-sizing: border-box;
}

section {
  width: 90%;
  max-width: 900px;
}

h1 {
  text-align: left;
}

p {
  padding: 0 1rem;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
}
