:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--app-background);
}

section {
  width: 90%;
  max-width: 900px;
}

h1 {
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
}
