@use '@styles/variables.scss' as vars;

:host {
  position: relative;

  div.component {
    min-height: 100vh;
    display: flex;
    align-items: center;

    app-hero,
    app-projects,
    app-contact {
      display: block;
      height: 100%;
      justify-content: center;
      margin: 0 auto;
    }

    app-hero {
      display: flex;
      width: vars.$desktop-wrapper-width;
      max-width: vars.$desktop-wrapper-width;
    }

    app-projects,
    app-contact {
      width: 100%;
      max-width: vars.$desktop-max-width;
    }
  }
}
