<section id="skills" [@postHeroFade]>
  <h2 class="mat-headline-large">Skills</h2>
  <app-skills></app-skills>
</section>
<section id="experience" [@postHeroFade]>
  <h2 class="mat-headline-large">Experience</h2>
  <p>
    I make a living with web dev. Initially in my career, I began as a back-end software engineer at a medtech company.
    Today, I am a full-stack engineer working on the support site for a telecom SaaS.
  </p>
  <app-experience></app-experience>
</section>
<section [@postHeroFade]>
  <h2 class="mat-headline-large">Education</h2>
  <app-education></app-education>
</section>
<section [@postHeroFade]>
  <h2 class="mat-headline-large">Projects</h2>
  <p>
    These are some of my personal projects. I like to explore topics that I don't get to cover during my day job in
    these projects.
  </p>
  <app-projects></app-projects>
</section>
