:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

div.hero-bg {
  position: absolute;
  height: 30.7rem;
  width: 100%;
  background-color: var(--app-foreground);

  div.white-bar {
    position: absolute;
    width: 100%;
    top: 75%;
    height: 25%;

    background-color: var(--app-background);
  }
}

div.main {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

div.main > * {
  width: 90%;
  max-width: 850px;
}

section {
  margin-top: 3rem;
}

img {
  margin-right: 0.5rem;
}
