:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--app-background);
  padding: 3rem 0;
  box-sizing: border-box;
}

section {
  width: 90%;
  max-width: 900px;
  padding: 2rem 0;
  box-sizing: border-box;
}

#skills ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

#skills ul li {
  margin: 0.25rem;
}

#experience span {
  display: flex;
}

#experience span div.dot {
  height: 100%;
  margin: 0 0.5rem;
}

#experience span div.dot::before {
  content: '•';
}

#experience mat-panel-title img {
  margin-right: 0.5rem;
}

#experience p {
  margin-top: 1rem;
}
