<mat-card>
  <mat-card-title-group>
    <mat-card-title>Bachelor of Science</mat-card-title>
    <mat-card-subtitle>Electronic & Computer Engineering Technology</mat-card-subtitle>
    <img mat-card-image src="/images/dayton1.png" alt="University of Dayton logo" />
  </mat-card-title-group>
  <mat-card-content>
    <span class="mat-title-small">University of Dayton</span>
    <span class="mat-title-small">
      Dayton, OH
      <div class="dot"></div>
      Aug 2014
    </span>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title-group>
    <mat-card-title>Master of Science</mat-card-title>
    <mat-card-subtitle>Engineering Management</mat-card-subtitle>
    <img mat-card-image src="/images/dayton2.png" alt="University of Dayton School of Engineering logo" />
  </mat-card-title-group>
  <mat-card-content>
    <span class="mat-title-small">University of Dayton</span>
    <span class="mat-title-small">
      Dayton, OH
      <div class="dot"></div>
      Aug 2015
    </span>
  </mat-card-content>
</mat-card>
