<ul>
  <li>
    <div>
      <a mat-button class="mat-title-large" href="https://github.com/jseashell/aws-genius-lyrics"
        >AWS Genius Lyrics <mat-icon iconPositionEnd>open_in_new</mat-icon></a
      >
      <mat-chip-set>
        <mat-chip>AWS</mat-chip>
        <mat-chip>Golang</mat-chip>
        <mat-chip>Serverless</mat-chip>
      </mat-chip-set>
      <p>
        Seeds a remote AWS DynamoDB table with lyrics from a given artist. This services utilizes a scraper to gather
        lyrics and strip unnecessary data from featured artists.
      </p>
    </div>
    <div class="thumbnail">
      <img src="/images/thuggerlyrics.png" />
    </div>
  </li>
  <li>
    <div>
      <a mat-button class="mat-title-large" href="https://thuggerlyrics.com"
        >thuggerlyrics.com<mat-icon iconPositionEnd>open_in_new</mat-icon></a
      >
      <mat-chip-set>
        <mat-chip>Angular</mat-chip>
        <mat-chip>AWS</mat-chip>
        <mat-chip>Serverless</mat-chip>
      </mat-chip-set>
      <p>
        A front-end to present the AWS Genius Lyrics service. The featured artist in this demo is rapper, Young Thug.
        This web app is written with Angular. It is deployed with AWS S3 and made available with a CDN using AWS
        Cloudfront. The domain is managed using Amazon Route 53 and the cert is provisioned with Certificate Manager.
      </p>
    </div>
    <div class="thumbnail">
      <img src="/images/thuggerlyrics.png" />
    </div>
  </li>
</ul>
