<p>design works!</p>
<ul class="material-grid">
  <li class="material-row">
    <span class="material-name">Button</span>
    <span class="material-html">
      <code>&lt;button mat-button [disabled] [color] [tabIndex]&gt;Button&lt;/button&gt;</code>
    </span>
    <span class="material-preview">
      <button matButton="elevated" color="primary">Button</button>
    </span>
  </li>
  <li class="material-row">
    <span class="material-name">Checkbox</span>
    <span class="material-html">
      <code
        >&lt;mat-checkbox [checked] [disabled] [indeterminate] [color]&gt;Check
        me&lt;/mat-checkbox&gt;</code
      >
    </span>
    <span class="material-preview">
      <mat-checkbox color="accent">Check me</mat-checkbox>
    </span>
  </li>
  <li class="material-row">
    <span class="material-name">Input</span>
    <span class="material-html">
      <code>&lt;input matInput [placeholder] [disabled] [value] [type]&gt;</code>
    </span>
    <span class="material-preview">
      <input matInput placeholder="Type here" />
    </span>
  </li>
  <li class="material-row">
    <span class="material-name">Radio</span>
    <span class="material-html">
      <code
        >&lt;mat-radio-group [disabled] [name] [value]&gt; &lt;mat-radio-button [checked] [value]
        [color]&gt;Option&lt;/mat-radio-button&gt; &lt;/mat-radio-group&gt;</code
      >
    </span>
    <span class="material-preview">
      <mat-radio-group>
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group>
    </span>
  </li>
  <li class="material-row">
    <span class="material-name">Slide Toggle</span>
    <span class="material-html">
      <code
        >&lt;mat-slide-toggle [checked] [disabled] [color]&gt;Toggle&lt;/mat-slide-toggle&gt;</code
      >
    </span>
    <span class="material-preview">
      <mat-slide-toggle color="primary">Toggle</mat-slide-toggle>
    </span>
  </li>
  <li class="material-row">
    <span class="material-name">Select</span>
    <span class="material-html">
      <pre>
<code>&lt;mat-select [disabled] [placeholder] [value] [multiple]&gt;
    &lt;mat-option [value]&gt;Option&lt;/mat-option&gt;
&lt;/mat-select&gt;</code>
        </pre>
    </span>
    <span class="material-preview">
      <mat-select placeholder="Choose one">
        <mat-option value="1">Option 1</mat-option>
        <mat-option value="2">Option 2</mat-option>
      </mat-select>
    </span>
  </li>
  <!-- Add more Material components as needed -->
</ul>
