<section>
  <h1 class="mat-display-small">Experience</h1>
  <p>
    I make a living in web development. Initially I began as a back-end software engineer at a medtech company. Today, I
    am a full-stack engineer working on the support site for a market-leading telecom SaaS.
  </p>
</section>
<section>
  @if (data$ | async; as data) {
    <div>
      <mat-accordion multi>
        @for (attrs of data; track $index; let i = $index) {
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <img [src]="attrs.thumbnail" width="24" height="24" />
                {{ attrs.title }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <span class="mat-title-small">{{ attrs.company }}<div class="dot"></div>Full-time</span>
              <span class="mat-title-small">
                {{ attrs.startDate | date: 'shortDate' }} -
                {{ isPresent ? 'Present' : (attrs.endDate | date: 'shortDate') }}
                <div class="dot"></div>
                {{ duration(attrs) }}
              </span>
              <span class="mat-title-small">{{ attrs.location }}</span>
              <p>
                {{ attrs.description }}
              </p>
            </div>
          </mat-expansion-panel>
        }
      </mat-accordion>
    </div>
  }
</section>
