:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--app-background);
}

section {
  width: 90%;
  max-width: 900px;
}

span {
  display: flex;
}

span div.dot {
  height: 100%;
  margin: 0 0.5rem;
}

span div.dot::before {
  content: '•';
}

mat-panel-title img {
  margin-right: 0.5rem;
}

p {
  margin-top: 1rem;
}
