.inquire {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  justify-content: space-between;
  width: 120px;
  text-decoration: none;
  color: black;
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px;
}

.inquire:hover {
  cursor: pointer;
  text-decoration: none;
  color: var(--theme-primary);
  border-radius: 25px;
  outline: 1px solid var(--theme-primary);
}

@media only screen and (max-width: 1000px) {
  .inquire {
    color: white;
  }

  .inquire:hover {
    color: var(--theme-secondary);
    outline: 1px solid var(--theme-secondary);
  }
}
@media only screen and (max-width: 450px) {
  .inquire {
    padding: 0;
    color: white;
  }

  .inquire:hover {
    color: white;
  }
}
