.inquire {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  text-decoration: none;
  color: black;
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px;
}

.inquire:hover {
  cursor: pointer;
  text-decoration: none;
  color: var(--theme-primary);
  border-radius: 25px;
  border: 1px solid var(--theme-primary);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media only screen and (max-width: 495px) {
  .inquire {
    padding: 0;
    color: white;
  }

  .inquire:hover {
    color: white;
    border: none;
  }
}
