@use '@styles/typography.scss' as typography;

:host {
  width: 100%;
  height: 100%;
}

h2 {
  @include typography.h3;
}

section {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  p,
  a {
    margin: 0;
  }
}
