:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3.5rem 0;
  box-sizing: border-box;
}

section {
  width: 90%;
  max-width: 900px;
}

span {
  display: flex;
}

span div.dot {
  height: 100%;
  margin: 0 0.5rem;
}

span div.dot::before {
  content: '•';
}

mat-panel-title img {
  margin-right: 0.5rem;
}
