<section>
  @if (data$ | async; as data) {
    <div>
      <mat-accordion multi>
        @for (d of data; track $index; let i = $index) {
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <img [src]="d.thumbnail" width="24" height="24" />
                {{ d.title }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <span class="mat-title-small">{{ d.company }}<div class="dot"></div>Full-time</span>
              <span class="mat-title-small">
                {{ d.startDate | date: 'shortDate' }} - {{ isPresent ? 'Present' : (d.endDate | date: 'shortDate') }}
                <div class="dot"></div>
                {{ duration(d) }}
              </span>
              <span class="mat-title-small">{{ d.location }}</span>
              <p>
                {{ d.description }}
              </p>
            </div>
          </mat-expansion-panel>
        }
      </mat-accordion>
    </div>
  }
</section>
