// Angular Material theming
@use '@angular/material' as mat;
// App theme
@use '@styles/palette.scss' as palette;
// App variables
@use '@styles/variables.scss' as vars;
// Typography config
@use '@styles/typography.scss';
// Import material icons
@use 'material-icons/iconfont/material-icons.scss';

// Define a dark theme using the M2 API and custom palettes
$theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: palette.$primary-palette,
      accent: palette.$accent-palette,
      tertiary: palette.$tertiary-palette,
    ),
  )
);

// Apply the theme to the application
html {
  height: 100%;
  @include mat.core();
  @include mat.all-component-themes($theme);
  scroll-behavior: smooth;
}

body {
  --mdc-theme-background: #{vars.$background};
  --mdc-theme-on-background: #{vars.$foreground};

  margin: 0;
  height: 100%;
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-on-background);
  color-scheme: dark;
}

app-root {
  height: 100%;
}
s pre,
code {
  font-family: monospace;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  font-weight: 400;
  line-height: 1.3; // little extra space for g, j, p, q, y;
}
