@use '@styles/typography.scss' as typography;
@use '@styles/variables.scss' as vars;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

html,
body,
body {
  margin: 0;
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial;
  background: vars.$bg;
  color: vars.$fg;
}

app-root {
  height: 100%;
}
