@import 'material-icons/iconfont/material-icons.css';

html {
  height: 100%;
  --app-background: #dddddd;
  --app-foreground: #1d1a31;
}

body {
  height: 100%;
  background-color: var(--app-background);
  color: var(--app-foreground);
}

body {
  margin: 0 auto;
  font-family: Inter, Roboto, 'Helvetica Neue', sans-serif;
}
