@import 'material-icons/iconfont/material-icons.css';

html,
body {
  height: 100%;
  background-color: #dddddd;
  color: #1d1a31;
}

body {
  margin: 0 auto;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
