@use '@styles/variables.scss' as vars;

section {
  max-width: vars.$max-width;
  margin: 0 auto;
  padding: 2rem 1rem;

  h2 {
    margin-bottom: 1.5rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    list-style-type: none;
    margin: 0;
    padding: 0;

    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 1.25rem;

      div.thumb {
        width: 512px;
        height: 300px;
        border-radius: 25px;
        box-shadow: 0 8px 24px rgba(2, 6, 23, 0.6);

        img {
          border-radius: 25px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
