.container {
  display: flex;
  align-items: center;
}

.image {
  width: 60px;
  height: 60px;
}

.container:hover,
.image:hover {
  cursor: pointer;
  fill: var(--theme-primary);
}

@media only screen and (max-width: 1000) {
  .image {
    fill: white;
  }
}
