.container {
  display: flex;
  align-items: center;
}

.image {
  width: 60px;
  height: 60px;
  fill: black;
}

.container:hover,
.image:hover {
  cursor: pointer;
  fill: var(--theme-primary);
}

@media only screen and (max-width: 495px) {
  .image {
    fill: white;
  }

  .container:hover,
  .image:hover {
    cursor: pointer;
    fill: white;
  }
}
