<mat-card class="mat-elevation-z4">
  <mat-card-content>
    <p>
      I specialize in delivering <b>custom web experiences</b> tailored to your unique needs. Whether you're looking for
      cutting-edge <b>web development</b>, piece-of-mind <b>technical consulting</b>, or seamless <b>integration</b> of
      complex systems, I bring a blend of technical expertise and creative problem-solving to every project. Committed
      to <b>quality</b> and driven by a deep understanding of emerging technologies, I work closely with clients to
      ensure that every solution is not only functional but also <b>enhances your business goals</b>. Let's turn your
      ideas into reality and drive your success through technology.
    </p>
  </mat-card-content>
</mat-card>
<div class="heading">
  <h1 class="mat-display-medium">Hi, my name is John.</h1>
  <h2 class="mat-display-small">
    I am a <span>{{ subtitle$ | async }}</span>
  </h2>
  <a mat-fab extended href="mailto:schellingerj1@gmail.com?subject=Software Development Inquiry" target="_blank">
    <mat-icon fontSet="material-symbols-outlined">mail</mat-icon>
    Contact me
  </a>
</div>
