name: Pipeline
run-name: ${{ github.event.head_commit.message }}
on: [push]

jobs:
  Pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
      - name: Install project
        run: npm ci --silent
      - name: Building web app
        run: cd app && npm run build
      - name: Building cloud backend
        run: cd app && npx serverless package --stage main --verbose
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Serverless Deploy
        run: npx serverless deploy --stage main --verbose
