:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--app-background);
  margin-top: 3rem;
}

p {
  padding: 0 1rem;
  box-sizing: border-box;
}
section {
  width: 90%;
  max-width: 900px;
}

div.thumbnail {
  width: 100%;
  height: auto;
  object-fit: contain;
}

img {
  margin: 1rem;
  width: calc(100% - 2rem);
  box-sizing: border-box;
  border-radius: 12px;
}

h4 {
  color: var(--app-foreground);
}
