<section [@postHeroFade]>
  <h1 class="mat-display-small">Portfolio</h1>
  <p>
    These are some of my personal projects. I like to explore topics that I don't get to cover during my day job in
    these projects.
  </p>
</section>
<section [@postHeroFade]>
  <mat-tab-group dynamicHeight>
    <mat-tab label="ezmc-cli">
      <img src="/images/ezmc.png" />
      <p>A server management CLI for self-hosting Minecraft Java Edition in AWS Elastic Container Service.</p>
      <div class="links">
        <a mat-button class="mat-title-medium" href="https://github.com/jseashell/ezmc-cli">
          Github<mat-icon iconPositionEnd>open_in_new</mat-icon>
        </a>
      </div>
    </mat-tab>
    <mat-tab label="kdot-lyrics">
      <img src="/images/kdot-lyrics.png" />
      <p>
        Random Kendrick Lamar lyrics at the click of a button. This web app is written with Angular. An offline program
        seeds AWS DynamoDB with the lyrics. This program calls an API for song information, then utilizes a scraper to
        gather lyrics.
      </p>
      <div class="links">
        <a mat-button class="mat-title-medium" href="https://kdotlyrics.com">
          Visit<mat-icon iconPositionEnd>open_in_new</mat-icon>
        </a>
        <a mat-button class="mat-title-medium" href="https://github.com/jseashell/kdot-lyrics">
          Github<mat-icon iconPositionEnd>open_in_new</mat-icon>
        </a>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
