<mat-tab-group>
  <mat-tab label="K. Lyrics">
    <img src="/images/kdot-lyrics.webp" />
    <p>
      Random Kendrick Lamar lyrics at the click of a button. This web app is written with Angular. It is deployed with
      AWS S3 + Cloudfront.
    </p>
    <mat-chip-set>
      <mat-chip>Angular</mat-chip>
      <mat-chip>Amazon S3</mat-chip>
      <mat-chip>Amazon Cloudfront</mat-chip>
      <mat-chip>Serverless</mat-chip>
    </mat-chip-set>
    <a mat-button class="mat-title-large" href="https://kdotlyrics.com">
      Visit<mat-icon iconPositionEnd>open_in_new</mat-icon>
    </a>
  </mat-tab>
  <mat-tab label="Lyrics DB Seeder">
    <img src="/images/lyrics-db-seeder.webp" />
    <p>
      Offline program to seed AWS DynamoDB with lyrics from a given artist. This services calls an API for song
      information, then utilizes a scraper to gather lyrics.
    </p>
    <mat-chip-set>
      <mat-chip>Golang</mat-chip>
      <mat-chip>Amazon DynamoDB</mat-chip>
    </mat-chip-set>
    <a mat-button class="mat-title-large" href="https://github.com/jseashell/lyrics-db-seeder">
      Visit<mat-icon iconPositionEnd>open_in_new</mat-icon>
    </a>
  </mat-tab>
</mat-tab-group>
